.innerContainer{
    margin-top : 50px;
    margin-bottom: 70px;
    display : flex;
    align-items: center;
    width : 600px;
    flex-direction : column;
    background-color: orange;
    border-radius : 20px;
}
body{
    display: flex;
    justify-content: center;
    align-items: space-around;
    background-color: rgb(0,0,0,0.9); 
    padding : 0;
    margin : 0;
}
.incomeExpense{
    display : flex;
    justify-content: center;
    width : 300px;
    background-color: cyan;
    border : solid black 2px;
    /* border-radius : 20px; */
}
.button{
    background-color: rgba(160,32,240,0.8);
    color : white;
    text-align: center;
    margin-top : 20px;
    font-size : 24px;
    border-radius: 10px;
    margin-bottom : 20px;
    transition-property: all;
}
.button:hover{
    background-color: yellow;
    color : darkgreen;
}
.input{
    width : 200px;
    font-size : 16px;
}
.transactionButton{
    display : none;
    color : white;
    font-size : 20px;
    transition-property: all;
    background-color: red;
}
.transactionButton:hover{
    color : red;
    background-color: white;
}
.transactionItem{
    position : relative;
    font-size : 20px;
    list-style : none;
    border : solid black 1px;
    width : 500px;
    border-collapse: collapse;
    background-color: white;
}
.transactionItem:hover{
    background-color: rgb(173, 216, 230);
}
.transactionItem:hover .transactionButton{
    display: inline-block;
}
.upgrade-arrow::before {
    content: "\2191";
    color : green;
}
.downgrade-arrow::before {
    content: "\2193"; 
    color : red;
}
.history{
    margin-top : 20px;
    width : 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: bisque;
}
.list{
    margin-top : -10px;
    padding : 0;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(192,192,192);
    width : 600px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.warn,
.warn::before,
.warn::after
{
  position: relative;
  padding: 0;
  margin: 0;
}

.warn {
  font-size: 36px;
  color: transparent;
}

.warn.warning {
  display: inline-block;
  transition-property: all;
  top: 0.225em;

  width: 1.15em;
  height: 1.15em;

  overflow: hidden;
  border: none;
  background-color: transparent;
  border-radius: 0.625em;
}

.warn.warning::before {
  content: "";
  display: block;
  top: -0.08em;
  left: 0.0em;
  position: absolute;
  border: transparent 0.6em solid;
  border-bottom-color: #fd3;
  border-bottom-width: 1em;
  border-top-width: 0;
  box-shadow: #999 0 1px 1px;
}

.warn.warning::after {
  display: block;
  position: absolute;
  top: 0.3em;
  left: 0;
  width: 100%;
  padding: 0 1px;
  text-align: center;
  font-family: "Garamond";
  content: "!";
  font-size: 0.65em;
  font-weight: bold;
  color: #333;
}
.alternateHeading{
    display: none;
    text-align: center;
}
@media screen and (min-width : 350px) and (max-width : 650px)
{
    .innerContainer,.history,.form{
        width : 350px;
    }
    .transactionItem{
        width : 300px;
    }
    .alternateHeading{
        display: block;
    }
    .heading{
        display: none;
    }
}